<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Confirmation</title>
</head>
<body>
<header th:replace="fragments :: header"></header>
            <div class="container my-5">
                    <center>
                        <div th:switch="${message}">
                            <div th:case="'true'">
                                <div>
                                    <h2 style="color:#1e7e34;">Congratulations. You have successfully activated your account.</h2>
                                </div>
                            <div class="confirm">
                                <form name="registerForm" th:action="@{/login}" method="get">
                            <input class="btn btn-outline-light" type="submit" value="Login">
                            </form>
                            </div>
                            </div>
                            <div th:case="'false'">
                                <div><h2 style="color:red;">This link does not exist.</h2></div>
                                <div class="confirm">
                                    <form name="registerForm" th:action="@{/register}" method="get">
                                <input class="btn btn-outline-light" type="submit" value="Register">
                            </form>
                                </div>
                            </div>
                            <div th:case="'expired'">
                                <div>
                                    <h2 style="color:red;">The link has expired.</h2>
                                </div>
                            <div class="confirm">
                                <form th:action="@{/resendRegistrationToken}" method="get">
                                    <input class="btn btn-outline-light"  type="submit" value="Resend">
                                    <input type="hidden" name="token" th:value="${token}">
                                </form>
                            </div>
                            </div>
                        </div>

                    </center>
            </div>
</body>
</html>
