<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/easylist.css}" rel="stylesheet"/>
    <title th:text="${title}">Easylist</title>
    <link rel="icon" sizes="32x32" href="images/favicon.ico">
</head>

<body>
<nav th:fragment="nav-bar" class="mb-1 navbar navbar-expand-lg">
    <div class="collapse navbar-collapse " id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="${'/user/'+user.id}">Home
                </a>

            </li>
            <li class="dropdown nav-item">
                <button class="btn btn-outline-light drop-button">My Items</button>
                <div class="dropdown-content">
                    <a class="nav-link" th:href="@{/items}" >All Items</a>
                    <a class="nav-link" th:href="@{'/items/'+${user.id}+'/create'}">New Item</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <button class="btn btn-outline-light drop-button">My Lists</button>
                <div class="dropdown-content">
                    <a class="nav-link" th:href="@{/groceries}" >All Lists</a>
                    <a class="nav-link" th:href="@{'/groceries/'+${user.id}+'/new'}">New List</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <form name="userForm" th:action="@{'/user/'+${user.id}+'/account'}" method="get">
                    <button class="btn btn-outline-light fas fa-user user-account" type="submit" ></button>
                </form>
            </li>
            <li class="nav-item">
                <form name="logoutForm" th:action="@{/logout}" method="get">
                    <button class="btn btn-outline-light fas fa-sign-out-alt user-account" type="submit" ></button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<section th:fragment="header" id="header">
        <div class="logo-name">
            <img src="/images/ezlogo.svg" alt="EzList logo" id="logo">
            <h1 id="logo-name"> EZList</h1>
        </div>
</section>

<section th:fragment="user" class="user-section">
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Login">
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Register">
    </form>
</section>

<section th:fragment="loggedin" class="user-section">
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input class = "btn btn-outline-light" type="submit" value="Logout"/>
    </form>
    <form name="userForm" th:action="@{'/user/'+${user.id}+'/account'}" method="get">
        <input class = "btn btn-outline-light" type="submit" th:value="${user.username + '''s Account'}"/>
    </form>
</section>

</body>
</html>