<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link th:href="@{/css/easylist.css}" rel="stylesheet"/>
    <title th:text="${title}">Easylist</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
</head>

<body>

<section th:fragment="header" id="header">
    <a th:href="${'/user/'+user.id}" id="site-title">
        <div class="logo-name">
            <img src="/images/ezlogo.svg" alt="EzList logo" id="logo">
            <h1 id="logo-name"> EZList</h1>
        </div>
    </a>
</section>

<section th:fragment="user" class="user-section">
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Login">
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Register">
    </form>
</section>

<section th:fragment="loggedin" class="user-section">
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input class = "btn btn-outline-light" type="submit" value="Logout"/>
    </form>
    <form name="userForm" th:action="@{'/user/'+${user.id}+'/account'}" method="get">
        <input class = "btn btn-primary" type="submit" th:value="${user.username + '''s Account'}"/>
    </form>
</section>

</body>
</html>