<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="utf-8">
    <title>All Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link th:href="@{/css/easylist.css}" rel="stylesheet" />
    <title th:text="${title}">Easylist</title>
</head>

<body>

<section th:fragment="header">
    <a id="site-title">
        <div class="header">
            <img src="/images/EzList.png" width="50" alt="EzList logo">
            <h1> EasyList</h1>
        </div>
    </a>
</section>

<section th:fragment="user" class="user-section">
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Login">
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class="btn btn-outline-light" type="submit" value="Register">
    </form>
</section>

</body>
</html>