<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"> </head>

<body class="intro-page">
<div class="container-welcome-page">
    <div class="welcome-page-child">
        <img src="/images/ezlogo.svg" alt="EzList logo" id="logoFront">
    <h2 id="title">EZ-List</h2>
    <p id="welcome-text"> I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
    </p>
    <section th:replace="fragments :: user"></section>
    </div>
</div>

</body>
</html>