<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"> </head>

<body class="intro-page">
<div class="container-welcome-page">
    <div class="welcome-page-child">
    <h2 id="title">Name here</h2>
    <p id="welcome-text"> I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
        I'll getcha, getcha, some groceries
    </p>
    <section th:replace="fragments :: user"></section>
    </div>
</div>

</body>
</html>