<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header>
    <div class="logo-name">
        <img src="/images/EzList.png" alt="EzList logo" id="logo">
        <h1 id="logo-name"> EZList</h1>
    </div>
</header>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <div class="col-md-10">
                    <span th:text="'A verification email has been sent to: ' + ${email}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>