<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<form method="post">
    <div class="container body-content">

    <th:block th:each="item : ${items}">
        <div class="form-group">
            <label>
                <span th:text="${item.name}"></span>
                <input type="checkbox" name="itemIds" th:value="${item.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
    </div>
</form>

</body>
</html>