<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: nav-bar"></nav>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${items.size()}" class="container my-5">
                <p class="my-5">
                    <a class="table-links" th:href="'/items/'+${user.id}+'/create'">
                        <button class="btn btn-primary fas fa-user-edit ml-2">Add item</button>
                    </a>
                </p>
                <h1 th:if="${success}">
                    <p th:text="${success}"></p>
                </h1>
                <div class="col-md-10">
                    <h2 th:case="'0'">Whoops! You have no items yet.</h2>
                    <div th:case="*">
                        <table id="itemsTable" class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Item Type</th>
                                <th>Last Bought</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>Add to Grocery List</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.itemType.displayName}"></td>
                                <td th:text="${item.stringLastBought}"></td>
                                <td>
                                    <a th:href="@{'/items/'+${user.id}+'/edit/'+${item.id}}">
                                        <button class="btn btn-primary fas fa-user-edit ml-2"></button>
                                    </a>
                                </td>
                                <td>

                                    <a th:href="@{'/items/'+${user.id}+'/delete/'+${item.id}}">
                                        <button class="btn btn-danger fas fa-user-times ml-2"></button>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{'/items/'+${user.id}+'/add/'+${item.id}}">
                                        <button class="btn btn-primary fas fa-folder-plus ml-2"></button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>