<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container my-2">
<h1>Create New Grocery List</h1>
    <form action="/groceries/new" method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${groceryList.name}" />
        <p th:errors="${groceryList.name}" class="error"></p>
    </div>

    <div class="form-group">
        <label th:for="item">Items</label>
        <li th:each="item : ${items}">
            <input type="checkbox" name="items" th:value="${item.id}">
            <label th:text="${item.name}"></label>
        </li>
        <a th:href="@{/items/create}">Create Item</a>
    </div>

    <input type="submit" value="Create New Grocery List" />
        <input type="hidden" name="userId" id="id" th:value="${user.id}">
</form>
</div>

</body>
</html>